<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>This is the Edit a guest page</h2>
      <h3>It will have a form to Edit <%= @guest.first_name %> information:</h3>
      <ul>
        <li>Title</li>
        <li>First Name</li>
        <li>Last Name</li>
        <li>Address Line 1</li>
        <li>Address Line 2</li>
        <li>City</li>
        <li>State</li>
        <li>Zip</li>
        <li>Email Address</li>
        <li>Invited</li>
        <li>Replied</li>
        <li>Attending</li>
        <li>Number of Guests Attending</li>
        <li>Thank You Sent</li>
        <li>Notes</li>
      </ul>
    </div>
  </div>
</div>